html, body{
  margin: 0px;
  min-height: 100%;
}

.header{
  width: 100%;
  height: 35px;
  background-color: #465FB9;
}

.header-text{
  padding: 5px;
  color: white;
  float: right;
}

.footer{
  width: 100%;
  height: 15px;
  background-color: #465FB9;
  bottom: 0px;
  position: absolute;
}
