<div class="header">
  <div class="header-text"
    *ngIf="currentUser">
    <span>Welcome, {{ currentUser }}!</span>
    <a href="/usecases">Use Cases</a>
    <a href="/projects">Projects</a>
    <a *ngIf="currentUser == 'Admin'" href="/admin">Account Management</a>
    <button class="logout-button" mat-button (click)="logout()">Log out</button>
  </div>
  <div class="header-text"
    *ngIf="!currentUser">
    <span class="header-text" >Please sign in below.</span>
  </div>
</div>
<!-- The router-outlet has (activate) and (deactivate) listeners
  to detect when someone logs in or logs out. This allows the header
  and logout button to update without the need for refreshing.
</header> -->
<router-outlet (activate)="getCurrentUser()"
  (deactivate)="getCurrentUser()"></router-outlet>
<div class="footer">
  <p class="footer-text">Created by: Tristan Giles, Matthew Fortier, Amritijot Madahar, and Geena Smith</p>
</div>
