<h1>My Available Projects</h1>
<div class="project-container">
  <ul class="project">
    <li *ngFor="let project of projects"
        [class.selected]="project === selectedProject"
        (click)="onSelect(project)">
      {{ project.title }}</li>
    <li class="createNewButton" (click)="projectCreateModal.open()"> Create a New Project</li>
  </ul>
</div>
<div *ngIf="selectedProject">
  <h2>{{selectedProject.title | uppercase}} Selected</h2>
  <button class="cusButton" class="select-button" mat-button (click)="openProject()">View Project</button>
</div>

<!-- <button (click)="htmlInsideModal.open()">Raw HTML inside modal</button> -->
<modal #projectCreateModal class="projectCreateModal">
  <ng-template #modalHeader><h2>Create Project</h2></ng-template>
  <ng-template #modalBody>
    <p>Fill in Related Use Case Information</p>
    <form id="newProjectForm">
      Project #:<br>
      <input type="text" name="projectnum"><br>
      Title:<br>
      <input type="text" name="title"><br><br>

      <table class ="center" id="myTable">

        <tr>
          <th> User </th>
          <th> Read </th>
          <th> Write </th>
        </tr>

        <tr *ngFor="let user of users; let i = index">
          <td> {{user.name}} </td>
          <td> <input type="checkbox" id = "read{{i}}" value = ""> </td>
          <td> <input type="checkbox" id = "write{{i}}" value = ""> </td>
        </tr>

      </table>

      <button class="select-button" mat-button (click)="createProject()">Submit</button> <br>
    </form>
  </ng-template>
</modal>
