<div *ngIf="project"><h1>{{project.title | uppercase}}</h1><h2>Owner: {{owner | uppercase}}</h2><h3>Description: {{project.description}}</h3></div>
<button class="select-button" *ngIf="canEdit && isOwner" (click)="deleteProjectConf.open()">Delete Project</button>
<button class="select-button" *ngIf="isOwner" (click)="transferProjectModal.open()">Transfer Ownership</button>
<div class="usecase-container">
  <ul class="usecase">
    <li *ngFor="let usecase of useCases"
        [class.selected]="usecase === selectedUseCase"
        (click)="onSelect(usecase)">
        {{ usecase.title }}</li>
    <li class="createNewButton" *ngIf="canEdit" (click)="usecaseCreateModal.open();"> Create a New Use Case</li>
  </ul>
</div>
<div style="margin-bottom: 85px;" *ngIf="selectedUseCase">
  <h2>{{selectedUseCase.title | uppercase}} Selected</h2>
  <button class="select-button" (click)="usecaseOpenModal.open();">View Usecase</button>
  <button class="select-button" *ngIf="canEdit" (click)="deleteConf.open()">Delete Usecase</button>
</div>

<modal #usecaseOpenModal class="usecaseOpenModal">
  <ng-template #modalHeader><h2>View UseCase</h2></ng-template>
  <ng-template #modalBody>
    <form id="existingUseCaseForm">
      Title:<br>
      <input type="text" name="title" id="title" value={{this.selectedUseCase.title}}><br>
      Goal:<br>
      <textarea type="text" name="goal" id="goal" style="height: 60px;" cols="40" rows="5" form="existingUseCaseForm" value={{this.selectedUseCase.goal}}></textarea><br>
      Scope:<br>
      <input type="text" name="scope" value={{this.selectedUseCase.scope}}><br>
      Level:<br>
      <input type="text" name="level" value={{this.selectedUseCase.level}}><br>
      Preconditions:<br>
      <textarea name="preconditions" style="height: 60px;" cols="40" rows="5" form="existingUseCaseForm" value={{this.selectedUseCase.preconditions}}></textarea><br>
      Success End Condition:<br>
      <textarea name="successEnd" style="height: 60px;" cols="40" rows="5" form="existingUseCaseForm" value={{this.selectedUseCase.successEndCondition}}></textarea><br>
      Failed End Condition:<br>
      <textarea name="failEnd" style="height: 60px;" cols="40" rows="5" form="existingUseCaseForm" value={{this.selectedUseCase.failedEndCondition}}></textarea><br>
      Primary Actors:<br>
      <textarea name="actors" style="height: 60px;" cols="40" rows="5" form="existingUseCaseForm" value={{this.selectedUseCase.primaryActor}}></textarea><br>
      Secondary Actors:<br>
      <textarea name="secondaryActors" style="height: 60px;" cols="40" rows="5" form="existingUseCaseForm" value={{this.selectedUseCase.secondaryActors}}></textarea><br>
      Trigger:<br>
      <textarea name="trigger" style="height: 60px;" cols="40" rows="5" form="existingUseCaseForm" value={{this.selectedUseCase.trigger}}></textarea><br>
      Description:<br>
      <textarea name="description" style="height: 60px;" cols="40" rows="5" form="existingUseCaseForm" value={{this.selectedUseCase.description}}></textarea><br>
      Extensions:<br>
      <textarea name="extensions" style="height: 60px;" cols="40" rows="5" form="existingUseCaseForm" value={{this.selectedUseCase.extensions}}></textarea><br>
      Sub Variations:<br>
      <textarea name="subvariations" style="height: 60px;" cols="40" rows="5" form="existingUseCaseForm" value={{this.selectedUseCase.subVariations}}></textarea><br>
      <button class="cusButton" *ngIf="canEdit" mat-button (click)="createOldUseCase()">Submit</button>
      <button class="cusButton" *ngIf="canEdit" mat-button (click)="existingUseCaseForm.close()">Cancel</button>

    </form>
  </ng-template>
</modal>
<!-- <button (click)="htmlInsideModal.open()">Raw HTML inside modal</button> -->
<modal #usecaseCreateModal class="usecaseCreateModal">
  <ng-template #modalHeader><h2>Create UseCase</h2></ng-template>
  <ng-template #modalBody>
    <form id="useCaseForm">
      Title:<br>
      <input type="text" name="title" id="title"><br>
      Goal:<br>
      <textarea type="text" name="goal" id="goal" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Scope:<br>
      <input type="text" name="scope"><br>
      Level:<br>
      <input type="text" name="level"><br>
      Preconditions:<br>
      <textarea name="preconditions" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Success End Condition:<br>
      <textarea name="successEnd" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Failed End Condition:<br>
      <textarea name="failEnd" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Primary Actors:<br>
      <textarea name="actors" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Secondary Actors:<br>
      <textarea name="secondaryActors" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Trigger:<br>
      <textarea name="trigger" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Description:<br>
      <textarea name="description" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Extensions:<br>
      <textarea name="extensions" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Sub Variations:<br>
      <textarea name="subvariations" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      <button class="cusButton" mat-button (click)="createNewUseCase()">Submit</button>
    </form>
  </ng-template>
</modal>

<modal #deleteConf class="deleteConf">
  <ng-template #modalHeader><h2>Delete UseCase?</h2></ng-template>
  <ng-template #modalBody>
    <form>
      <button class="cusButton" mat-button (click)="deleteUseCase()">Confirm</button>
      <button class="cusButton" mat-button (click)="deleteConf.close()">Cancel</button>
    </form>
  </ng-template>
</modal>

<modal #deleteProjectConf class="deleteConf">
  <ng-template #modalHeader><h2>Delete {{project.title}}?</h2></ng-template>
  <ng-template #modalBody>
    <form>
      <button class="cusButton" mat-button (click)="deleteProject()">Confirm</button>
      <button class="cusButton" mat-button (click)="deleteConf.close()">Cancel</button>
    </form>
  </ng-template>
</modal>

<modal #transferProjectModal class="transferProjectModal">
  <ng-template #modalHeader><h2>Transfer {{project.title}}?</h2></ng-template>
  <ng-template #modalBody>
    <form>
      <ul class="users">
        <li *ngFor="let user of users"
          [class.selected]="user === selectedTransferOwner"
          (click)="onSelectUser(user)">
          {{ user.name }}</li>
      </ul>
      <button class="cusButton" mat-button (click)="transferProject()">Confirm</button>
      <button class="cusButton" mat-button (click)="transferProjectModal.close()">Cancel</button>
    </form>
  </ng-template>
</modal>
