
<div class="usecase-container">
  My Available Use Cases
  <ul class="usecase">
    <li *ngFor="let usecase of useCases"
        [class.selected]="usecase === selectedUseCase"
        (click)="onSelect(usecase)">
        <span class="badge">{{ usecase.projectID }}</span>{{ usecase.title }}</li>
    <li (click)="usecaseCreateModal.open();"> Create a New Use Case</li>
  </ul>
</div>
<div *ngIf="selectedUseCase">
  <h2>{{selectedUseCase.title | uppercase}} Selected</h2>
  <button mat-button (click)="openProject()">View Usecase</button>
</div>

<!-- <button (click)="htmlInsideModal.open()">Raw HTML inside modal</button> -->
<modal #usecaseCreateModal class="usecaseCreateModal">
  <ng-template #modalHeader><h2>Create UseCase</h2></ng-template>
  <ng-template #modalBody>
    <p>Fill in Related Use Case Information</p>
    <form id="useCaseForm">
      Title:<br>
      <input type="text" name="title" id="title"><br>
      Goal:<br>
      <textarea type="text" name="goal" id="goal" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Scope:<br>
      <input type="text" name="scope"><br>
      Level:<br>
      <input type="text" name="level"><br>
      Preconditions:<br>
      <textarea name="preconditions" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Success End Condition:<br>
      <textarea name="successEnd" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Failed End Condition:<br>
      <textarea name="failEnd" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Primary Actors:<br>
      <textarea name="actors" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Secondary Actors:<br>
      <textarea name="secondaryActors" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Trigger:<br>
      <textarea name="trigger" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Desription:<br>
      <textarea name="description" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Extensions:<br>
      <textarea name="extensions" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      Sub Variations:<br>
      <textarea name="subvariations" style="height: 60px;" cols="40" rows="5" form="useCaseForm"></textarea><br>
      <button mat-button (click)="submitNewUseCase()">Submit</button>
    </form>
  </ng-template>
</modal>
